<!-- {% extends 'post_form.html' %}
{% load static %}

{% block title %}
HOME
{% endblock %}

{% block post %}


{% endblock %}

{% block content %}
<!
{{ shareit }}
{{ sharenow }} -->

<!-- {% for post in posts %}
<div class="card" style="width: 40%; margin-left: 200px; margin-top: 15px;">
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" style="width: 20%;">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 author" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{ url 'post-detail' post.id}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
</div>
{% endfor %}

<style>
.button-add {
	color: black !important;
}
.button-add {
	background: green !important;
}
 a {
  color: black !important;
 }

 .author {
  color: blue !important;
 }
</style>
{% endblock %}  -->